
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    li {
        list-style:none;
    }
</style>
<div class="footerContent">
    <ul class="firCol">
        <li><a href="/Home/Product">产品与服务</a></li>
        <li><a href="/Home/Download">PC端(VidaDesigner)下载</a></li>
        <li><a href="/Home/easydownload">APP(VidaEasy)下载</a></li>
    </ul>
    <ul class="secCol">
        <li><a href="/Home/Condition">使用条款</a></li>
        <li><a href="/Home/CopyRight">版权声明</a></li>
        <li><a href="/Home/Privacy">隐私政策</a></li>
    </ul>
    <ul class="thiCol">
        <li>
            <a href="http://weibo.com/6029446994">
                <i class="iconfont icon-weibo"></i>
                weibo：vidahouse玩家生活
            </a>
        </li>
        <li>
            <i class="iconfont icon-weixin"></i>
            wechat：VIDAHOUSE

        </li>
        <li>
            <i class="iconfont1 icon-qq"></i>
            <span class="qq">欢迎咨询我们的玩家达人</span>
            <br>
            <div class="qqBox">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=375009771&amp;site=qq&amp;menu=yes">
                    <img src="/Content/images/qq.png" alt="">
                </a>
                <span class="workTime">(周一至周五10:00-19:00)</span>
            </div>
        </li>
    </ul>
    <ul class="fouCol">
        <li>
            <i class="iconfont icon-dianhua"></i>
            <span class="telephone">400-821-9191&nbsp;(周一至周五10:00-19:00)</span><br>
        </li>
        <li>
            <i class="iconfont icon-email"></i>
            E-mail：contact@vidahouse.com<br>
            <!--<span class="footerEmail">bd@vidahouse.com</span>-->
        </li>
        <li>
            <i class="iconfont icon-dizhi"></i>
            公司地址：徐汇区田林路140号SVA<br>
            <span class="footerAddress">创意园区28号楼230-32室</span>
        </li>
    </ul>
    <div class="footerQrcode">
        <img src="/Content/images/index/footerQrcode.jpg" alt="">
        VIDAHOUSE
    </div>
</div>
<div class="footerCopyright">
    <span>版权所有©2016 上海威墨信息科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备案©京工CP备15004316号cznn</span>
</div>
